.kb-layout {
  display: grid;
  grid-gap: .8em;
  height: 70%;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  'top'
  'middle'
  'bottom'
  'toggler'
  ;
}
.kb-layout-top {
  grid-area: top;
  display: flex;
  /*align-content: space-evenly;*/
  justify-content: center;
}
.kb-layout-middle {
  grid-area: middle;
  display: flex;
  /*align-content: space-evenly;*/
  justify-content: center;
}
.kb-layout-bottom {
  grid-area: bottom;
  display: flex;
  /*align-content: space-evenly;*/
  justify-content: center;
}
.kb-layout-toggler {
  grid-area: toggler;
  display: flex;
  max-width: 63%;
  justify-content: flex-end;
}

.kbtn {
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(237, 32, 36, .33);
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(237, 32, 36, .33);
  box-shadow:inset 0px 1px 0px 0px rgba(237, 32, 36, .33); /*#9acc85;*/
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(237, 32, 36, .69)), color-stop(1, rgb(237, 32, 36)));
  background:-moz-linear-gradient(top, rgba(237, 32, 36, .69) 5%, rgb(237, 32, 36) 100%);
  background:-webkit-linear-gradient(top, rgba(237, 32, 36, .69) 5%, rgb(237, 32, 36) 100%);
  background:-o-linear-gradient(top, rgba(237, 32, 36, .69) 5%, rgb(237, 32, 36) 100%);
  background:-ms-linear-gradient(top, rgba(237, 32, 36, .69) 5%, rgb(237, 32, 36) 100%);
  background:linear-gradient(to bottom, rgba(237, 32, 36, .69) 5%, rgb(237, 32, 36) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(237, 32, 36, .69)', endColorstr='rgb(237, 32, 36)',GradientType=0);
  background-color:rgba(237, 32, 36, .99);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px outset rgb(237, 32, 36);
  cursor:pointer;
  color:#d1ffee;
  font-family: STXihei, "华文细黑";
  font-size:2em;
  font-weight:normal;
  height: 3rem;
  width: auto;
  text-decoration:none;
}
.kbtn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgb(237, 32, 36)), color-stop(1, rgba(237, 32, 36, .69)));
  background:-moz-linear-gradient(top, rgb(237, 32, 36) 5%, rgba(237, 32, 36, .69) 100%);
  background:-webkit-linear-gradient(top, rgb(237, 32, 36) 5%, rgba(237, 32, 36, .69) 100%);
  background:-o-linear-gradient(top, rgb(237, 32, 36) 5%, rgba(237, 32, 36, .69) 100%);
  background:-ms-linear-gradient(top, rgb(237, 32, 36) 5%, rgba(237, 32, 36, .69) 100%);
  background:linear-gradient(to bottom, rgb(237, 32, 36) 5%, rgba(237, 32, 36, .69) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(237, 32, 36, .69)', endColorstr='rgba(237, 32, 36, .69)',GradientType=0);
  background-color:rgb(237, 32, 36);
}
