.kb-layout {
  display: grid;
  grid-gap: .8em;
  min-height: 17vh;
  height: 17vh;
  width: 80%;
  margin: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'top top top top top top'
    'middle middle middle middle middle middle'
    'bottom bottom bottom bottom bottom bottom'
    '. . . . toggler .'
;
}
.kb-layout-top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  padding: 0 9px;
  justify-content: center;
}
.kb-layout-middle {
  grid-area: middle;
  display: flex;
  flex-direction: row;
  padding: 0 9px;
  justify-content: center;
}
.kb-layout-bottom {
  grid-area: bottom;
  display: flex;
  flex-direction: row;
  padding: 0 9px;
  justify-content: center;
}
.kb-layout-toggler {
  grid-area: toggler;
  flex-direction: row;
  display: flex;
}
.kb-layout-toggler > button {
  min-width: 2.44em;
  width: 2.44em;
  font-size: 1.28em;
  font-weight: 100;
  background-color: rgba(237, 32, 36, .77);
  color: snow;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #ed2023;
}

.kbtn {
  border-top: 1px solid #e38ba4;
  background: #e35259;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed2023), to(#e35259));
  background: -webkit-linear-gradient(top, #ed2023, #e35259);
  background: -moz-linear-gradient(top, #ed2023, #e35259);
  background: -ms-linear-gradient(top, #ed2023, #e35259);
  background: -o-linear-gradient(top, #ed2023, #e35259);
  margin:2px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  font-size: 2em;
  font-family: STXihei, "华文细黑";
  text-decoration: none;
  cursor: pointer;
  font-weight:100;
  min-height: 2.99rem;
  height: 2.99rem;
  min-width: 2.99rem;
  width: 2.99rem;
  justify-content: center;
}
.kbtn:hover {
  border-top-color: #ed0911;
  background: #ed0911;
  color: #ffffff;
  min-height: 2.99rem;
  height: 2.99rem;
  min-width: 2.99rem;
  width: 2.99rem;
  justify-content: center;
}
.kbtn:active {
  border-top-color: orangered;
  background: orangered;
  min-height: 2.99rem;
  height: 2.99rem;
  min-width: 2.99rem;
  width: 2.99rem;
  justify-content: center;
}
