<div class="tut-grid lang_cyr">
  <div class="tut-contents">

    <div class="tut-buttons">

      <button (click)="showContent()" id="tut-btn-content" class="tut-btn lang_cyr">
        <span class="tut-btn-icon">📜</span>Зміст
      </button>

      <button (click)="showInfoPrv()" id="tut-btn-lessn-prev" class="tut-btn lang_cyr">
        {{buttonTitleID.prv}}. {{buttonTitles.prv | slice : 0 : 33}}
        <span class="tut-btn-icon">👈</span>
      </button>

      <button (click)="showInfo()" id="tut-btn-lessn-curr" class="tut-btn lang_cyr">
        <span class="tut-btn-icon">👌</span> {{buttonTitleID.cur}}. {{buttonTitles.cur | slice : 0 : 33}}
      </button>

      <button (click)="showInfoNxt()" id="tut-btn-lessn-next" class="tut-btn lang_cyr">
        <span class="tut-btn-icon">👉</span>
        {{buttonTitleID.nxt}}. {{buttonTitles.nxt | slice : 0 : 33}}
      </button>

      <button (click)="toggleKB()" id="tut-btn-kb" class="tut-btn lang_cyr"> Клавіатура <span class="tut-btn-icon">👐</span> </button>
      <button (click)="toggleDrill()" id="tut-btn-drill" class="tut-btn lang_cyr"> Вправи <span class="tut-btn-icon">✍</span> </button>
      <button id="tut-btn-more" class="tut-btn lang_cyr"> Ще про ЦанЦзє <span class="tut-btn-icon">🈴</span></button>

    </div>

    <div *ngIf="contStates.content" class="content-grid">
      <div *ngFor="let cont of (contentUA | async)?.contents; let i = index;" class="content-cell lang_cyr" (click)="showInfoByContent(i+1)">
        <div class="cont-number">
          {{cont["id"]+1}}
        </div>
        <div class="cont-section">
          {{cont["ua"]}}
        </div>
      </div>
    </div>

    <div *ngIf="contStates.infoBlock" [innerHTML]="(curInfoBlock | async)?.cjInfo | safe" class="tut-lesson-info"></div>
    <div *ngIf="contStates.infoBlock" class="tut-drill-info-bar">
      Кількість вправ: {{drillNumber}}
    </div>

    <div class="tut-drill-n-board">

      <div *ngIf="contStates.kBoard" class="tut-lesson-keyboard">KEYBOARD</div>

      <div *ngIf="contStates.drillBlock && curDrills.length" class="tut-lesson-drill">
        {{curDrills[0]['ua'] | json }}
      </div>
      <div *ngIf="contStates.drillBlock && !curDrills.length">
        Вправи відсутні
      </div>


    </div>

  </div>
</div>
