<div class="tut-grid lang_cyr">
  <div class="tut-contents">

    <div class="tut-buttons">

      <button (click)="showContent()" id="tut-btn-content" class="tut-btn lang_cyr">
        <span class="tut-btn-icon">📜</span>Зміст
      </button>

      <button (click)="showInfoPrv()" id="tut-btn-lessn-prev" class="tut-btn lang_cyr">
        {{buttonTitleID?.prv}}. {{buttonTitles?.prv}}
        <span class="tut-btn-icon">👈</span>
      </button>

      <button (click)="showInfo()" id="tut-btn-lessn-curr" class="tut-btn lang_cyr">
        <span class="tut-btn-icon">👌</span> {{buttonTitleID?.cur}}. {{buttonTitles?.cur}}
      </button>

      <button (click)="showInfoNxt()" id="tut-btn-lessn-next" class="tut-btn lang_cyr">
        <span class="tut-btn-icon">👉</span>
        {{buttonTitleID?.nxt}}. {{buttonTitles?.nxt}}
      </button>

      <button (click)="toggleDrill()" id="tut-btn-drill" class="tut-btn lang_cyr" [disabled]="!drillNumber">
        Вправи: <span class="tut-btn-icon">{{drillNumber ? drillNumber : '-'}}</span>
      </button>

    </div>

    <div *ngIf="contStates.content">
      <app-tut-content class="content-grid"></app-tut-content>
    </div>

    <div *ngIf="contStates.infoBlock" [innerHTML]="(curInfoBlock | async)?.cjInfo | safe" class="tut-lesson-info"></div>

    <div class="tut-drill-n-board">

      <div *ngIf="curDrills.length && !contStates.infoBlock && !contStates.content" class="tut-lesson-drill">
        <div class="tut-drill-ua-txt">
          <button
            *ngFor="let el of curDrills; let i = index;"
            (click)="showDrillById(i)"

            class="drill-btn-txt lang_cyr">
            <span
              [ngClass]="{ 'active' : curDrillId === i}"
              class="drill-btn-title">Вправа {{i+1}}:</span> {{el['ua']}}

          </button>
        </div>
        <div class="drill-input">
          <div *ngFor="let el of curDrills; let i = index;"><!-- { "zh": "日", "en": "a" }-->
            <div *ngIf="curDrillId === i" class="drill-display">

              <!-- upper row -->
              <div class="empty-row">
                <div class="empty-row-item drill-control-panel">Panel</div>
                <!-- zh -->
                <div class="drill-hi">
                  <div *ngFor="let z of curDrill; let k = index; first as isFirst">
                    <div class="drill-hi-item-first lang_zh" *ngIf="isFirst">{{z['zh']}}</div>
                    <div class="drill-hi-item lang_zh" *ngIf="!isFirst">{{z['zh']}}</div>
                    <div class="drill-code-item lang_en" *ngIf="isFirst">
                      {{z['en'].toUpperCase()}}
                      <span class="drill-code-item-wrong lang_en" *ngIf="z['wrong']">
                        {{z['wrong'].toUpperCase()}}
                      </span>
                      <span class="drill-code-item-group lang_en" *ngIf="z['group']">
                        {{z['group'].toUpperCase()}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="empty-row">
                <div class="empty-row-item" *ngIf="curDrill.length"></div>
                <!-- current element input -->
                <div class="drill-hi" *ngIf="curDrill.length">
                  <input
                    maxlength="5"
                    spellcheck="false"
                    pattern="[A-Za-z]+"
                    (ngModelChange)="getUserInput($event)"
                    [(ngModel)]="userInput"
                    type="text"
                    class="drill-css-input" appTxtInputFocus required />
                </div>
                <div class="drill-hi drill-css-input-done lang_cyr" *ngIf="!curDrill.length">
                  Вправу закінчено. Аби повторити - виберіть її ще раз. В іншому випадку оберіть іншу вправу або перейдіть на наступний урок.
                </div>
              </div>

              <!-- lower row -->
              <div class="empty-row">
                <div [ngClass]="{ 'drill-hi-done-active' : taskDone.length}"
                  class="drill-hi-done">
                  <div *ngFor="let m of taskDone; let v = index;">
                    <div class="drill-hi-item-done lang_zh">{{m['zh']}}</div>
                    <div class="drill-code-item-done lang_en">{{m['en'].toUpperCase()}}</div>
                  </div>
                </div>
                <div class="empty-row-item"></div>
              </div>

            </div>

          </div>
        </div>

        <app-tut-kb></app-tut-kb>
      </div>

    </div>

  </div>
</div>
