:root{
  scrollbar-color: rgb(237, 32, 36) !important; /* #ed2024 */
  scrollbar-width: thin !important;
}

.tut-grid {
  display: flex;
  flex-direction: column;
}

.tut-contents {
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: .901rem;
  height: 22px;
  min-height: 22px;
  align-content: space-between;
  text-align: center;
}

.tut-lessons {
  display: grid;
  grid-gap: 9px;
  font-size: 110%;
  align-content: center;
  grid-template-rows: 1.1fr 1.1fr .8fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'info'
    'drill-n-board';
}

.tut-lesson-info {
  padding: 5px;
  height: 75vh;
  min-height: 75vh;
  overflow-x: auto;
  grid-area: info;
  font-size: .9991rem;
  text-align: justify;
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: .51rem;
  border-radius: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(237, 32, 36, .11);
  border-radius: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(237, 32, 36, .33);
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(237, 32, 36, .69);
  border-radius: 9px;
}

/* scrollbar styling */

.tut-drill-ua-txt {
  /*min-height: 25vh;*/
  height: 25vh;
  text-align: left;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.tut-lesson-drill {
  flex: 1 0 0;
}

.tut-drill-n-board {
  min-height: 100%;
  grid-area: drill-n-board;
  display: flex;
  flex-direction: column;
}

/* contents start */
.content-grid {
  max-height: 80vh;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
}

/* contents end */

/* buttons */

.tut-buttons {
  display: flex;
  flex-direction: row;
}

#tut-btn-content, #tut-btn-drill, #tut-btn-kb, #tut-btn-lessn-curr, #tut-btn-lessn-prev, #tut-btn-lessn-next {
  justify-content: center;
}

#tut-btn-drill {
  flex: .77 0 0;
}
#tut-btn-kb {
  flex: 1 0 0;
}

#tut-btn-content {
  flex: .66 0 0;
}

#tut-btn-lessn-prev, #tut-btn-lessn-curr, #tut-btn-lessn-next {
  flex: 3 0 0;
  /* Avoids text being rendered outside the container */
  overflow: hidden;
  /* Avoid text going to multiple lines */
  white-space: nowrap;
  /* Sets the ... once the text overflows */
  text-overflow: ellipsis;
}

.tut-btn {
  margin: 1px;
  background-color: rgba(237, 32, 36, .69);
  border-radius:.44rem;
  border: 1px solid rgba(237, 32, 36, .99);;
  display:inline-block;
  flex-direction: row;
  cursor:pointer;
  color: snow;
  font-size:.973rem;
  font-weight: 500;
  padding:5px;
  text-decoration:none;
  min-height: 4.5vh;
  max-height: 5.9vh;
  width: 444px;
  transition: all 444ms;
}
.tut-btn:hover {
  background-color:#ed2023;
}
.tut-btn:active {
  top:1px;
}

.tut-btn-icon {
  font-size: 1.01em;
  margin: 0 3px;
}

#tut-btn-drill .tut-btn-icon {
  min-width: 19px;
  color: #000000;
  font-size: 1.12em;
  font-weight: 700;
}

/* buttons */

/* drill input */

.drill-input {
  padding: .33rem;
  min-height:25vh;
  height:25vh;
  margin: .22rem 0;
}

/* drill input */

/* drill txt */
.drill-btn-txt {
  flex-basis: min-content;
  justify-content: flex-start;
  border : solid 1px #ed2023;
  border-radius : 20px 3px 20px 4px ;
  -moz-border-radius : 20px 3px 20px 4px ;
  font-size : 0.9813rem;
  color : darkred;
  padding : 2px 18px;
  background : rgba(237, 32, 36, .11);
  margin: 7px 0;
  text-align: left;
  transition: all 444ms;
}

.drill-btn-title {
  padding: 0 3px;
  color: darkred;
  font-weight: 700;
  border-radius: .871rem;
}

.drill-btn-txt:hover {
  color: snow;
  background-color: var(--cj26-color);
  cursor: pointer;
}
.active {
  background-color: var(--cj26-color); color: snow; padding: 0 3px;
}

/* drill txt */

/* drill task */
.drill-display {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.drill-hi {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex: 1.22 0 0;
  min-height: 6rem;
}
.drill-hi-done {
  margin-top: .2em;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  flex: .5 0 0;
}
.drill-hi-done-active {
  border: 1px solid #D3D3D3;
  padding: .39rem;
  border-radius: .22rem;
}
.drill-hi-item {
  margin-top: 9px;
  flex: 1;
  box-sizing: border-box;
  min-width: 1.25em;
  font-size: .9871em;
  font-weight: 300;
  color: darkgreen;
}
.drill-hi-item:hover {
  transform: scale(2.2);
  cursor: none;
  flex: 2;
}
.drill-hi-item-done {
  margin-top: 9px;
  margin-right: 3px;
  flex: 1;
  box-sizing: border-box;
  min-width: 1.25em;
  font-size: .9871em;
  font-weight: 300;
  color: darkgray;
}
.drill-hi-item-first {
  flex: 1;
  box-sizing: border-box;
  min-width: 1.69em;
  font-size: 3em;
  font-weight: 700;
  color: darkgreen;
}
.drill-code {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.drill-code-item {
  flex: 1;
  box-sizing: border-box;
  min-width: .11em;
  font-size: 1.1em;
  color: forestgreen;
  font-weight: 100;
}
.drill-code-item-done {
  margin-right: 3px;
  flex: 1;
  box-sizing: border-box;
  min-width: .11em;
  font-size: 1.1em;
  color: darkgray;
  font-weight: 100;
}
.drill-control-panel {
  color:#306108;
}
.drill-code-item-wrong {
  text-decoration: line-through;
  color: var(--cj26-color);
  font-size: .8761rem;
  font-weight: 200;
}
.drill-code-item-group {
  color: var(--mova-color);
  font-size: .8761rem;
  font-weight: 200;
}
.drill-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.drill-btn {
  background-color:rgba(237, 32, 36, .11);
  border-radius:6px;
  border:1px solid var(--cj26-color);
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-size: .8971rem;
  font-weight:400;
  padding:3px 6px;
  text-decoration:none;
  text-shadow:0 1px 0 #aade7c;
  flex: 1 0 0;
}
.drill-btn:hover {
  /*background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);*/
  background-color:darkgreen;
  border: 1px solid var(--mova-color);
  color: lightgreen;
  font-weight:300;
}
.drill-btn:active {
  position:relative;
  top:1px;
}
.drill-btn-active {
  background-color:darkgreen;
  border: 1px solid var(--mova-color);
  color: lightgreen;
  font-weight:300;
}

.drill-css-input {
  padding: 7px;
  font-size: 26px;
  border-width: 1px;
  border-color: #ed2024;
  background-color: #ffffff;
  color: #000000;
  border-style: ridge;
  border-radius: 5px;
  box-shadow: 1px 0 5px rgba(214,126,129,.75);
  text-shadow: 0 0 5px rgba(165,97,97,.67);
  text-align: start;
}

.drill-css-input-done {
  padding: 7px;
  font-size: 1.1em;
  background-color: #ffffff;
  color: #000000;
}
.drill-css-input:focus {
  outline:none;
}

/* drill task */

/* empty rows*/
.empty-row {
  display: flex;
  flex-direction: row;
}
.empty-row-item {
  flex: .75 0 0;
}
/* empty rows*/

/* drill tooltips */
.tooltip {
  position: relative;
}
.tooltip__item {
  position: absolute;
  min-width: 100px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  background: white;
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  color: #484848;
  border: 1px solid #cecece;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0 2px 1px #bcbcbc;
  z-index: 4;
}
.tooltip__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.tooltip__initiator {
  cursor: pointer;
  z-index: 5;
}
.tooltip[data-direction="left"] .tooltip__initiator:hover ~ .tooltip__item {
  transform: translate3d(0, -50%, 0);
  visibility: visible;
  opacity: 1;
}
.tooltip[data-direction="left"] .tooltip__item {
  top: 50%;
  right: calc(100% + 1em);
  transform: translate3d(15px, -50%, 0);
}
.tooltip[data-direction="left"] .tooltip__item:after {
  top: 50%;
  right: -0.5em;
  transform: translate3d(0, -50%, 0);
  border-width: 0.5em 0 0.5em 0.5em;
  border-color: transparent transparent transparent white;
  -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
  filter: drop-shadow(1px 2px 1px #bcbcbc);
}
.tooltip[data-direction="bottom"] .tooltip__initiator:hover ~ .tooltip__item {
  transform: translate3d(-50%, 0, 0);
  visibility: visible;
  opacity: 1;
}
.tooltip[data-direction="bottom"] .tooltip__item {
  top: calc(100% + 1em);
  left: 50%;
  transform: translate3d(-50%, -15px, 0);
}
.tooltip[data-direction="bottom"] .tooltip__item:after {
  top: -0.5em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent white transparent;
  -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
  filter: drop-shadow(1px -1px 1px #bcbcbc);
}
/* drill tooltips */
