:root{
  scrollbar-color: rgb(237, 32, 36) !important; /* #ed2024 */
  scrollbar-width: thin !important;
}
.tut-grid {
  display: flex;
  flex-direction: column;
}

.tut-contents {
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: .901rem;
  height: 22px;
  min-height: 22px;
  align-content: space-between;
  text-align: center;
}

.tut-lessons {
  display: grid;
  grid-gap: 9px;
  font-size: 110%;
  align-content: center;
  grid-template-rows: 1fr 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    'info'
    'drill-n-board';
}

.tut-lesson-info {
  padding: 5px;
  height: 75vh;
  min-height: 75vh;
  overflow-x: auto;
  grid-area: info;
  font-size: .9991rem;
  text-align: justify;
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: .51rem;
  border-radius: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(237, 32, 36, .11);
  border-radius: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(237, 32, 36, .33);
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(237, 32, 36, .69);
  border-radius: 9px;
}

/* scrollbar styling */

.tut-drill-info-bar {
  height: 3.01vh;
  font-size: 1.13em;
  border-radius: 3px;
  border-top: 2px solid rgba(237, 32, 36, .88);
  background: linear-gradient(rgba(237, 32, 36, .55), rgba(237, 32, 36, .99));
  color: snow;
}

.tut-drill-ua-txt {
  text-align: left;
}
.tut-drill-ua-txt li {
  border-bottom: 1px solid #CCCCCC;
}

.tut-lesson-drill {
  /*grid-area: drill;*/
  border: 1px solid red;
  flex: 1 0 0;
}

.tut-lesson-keyboard {
  /*grid-area: keyboard;*/
  border: 1px solid green;
  flex: 1 0 0;
}

.tut-drill-n-board {
  grid-area: drill-n-board;
  display: flex;
  flex-direction: column;
}

/* contents start */
.content-grid {
  max-height: 80vh;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
}

/* contents end */

/* buttons */

.tut-buttons {
  display: flex;
  flex-direction: row;
}

#tut-btn-content, #tut-btn-drill, #tut-btn-kb, #tut-btn-lessn-curr, #tut-btn-lessn-prev, #tut-btn-lessn-next {
  justify-content: center;
}

#tut-btn-drill {
  flex: .77 0 0;
}
#tut-btn-kb {
  flex: 1 0 0;
}

#tut-btn-content {
  flex: .66 0 0;
}

#tut-btn-lessn-prev, #tut-btn-lessn-curr, #tut-btn-lessn-next {
  flex: 3 0 0;
}

.tut-btn {
  margin: 1px;
  background-color: rgba(237, 32, 36, .69);
  border-radius:.44rem;
  border: 1px solid rgba(237, 32, 36, .99);;
  display:flex;
  flex-direction: row;
  cursor:pointer;
  color: snow;
  font-size:.973rem;
  font-weight: 500;
  padding:5px;
  text-decoration:none;
  min-height: 3.5vh;
  max-height: 4.1vh;
}
.tut-btn:hover {
  background-color:#ed2023;
}
.tut-btn:active {
  top:1px;
}

.tut-btn-icon {
  font-size: 1.01em;
  margin: 0 3px;
}

#tut-btn-drill .tut-btn-icon {
  min-width: 19px;
  color: #000000;
  font-size: 1.12em;
  font-weight: 700;
}

/* buttons */
